nav, #login-popup, #add-employee-popup, #edit-employee-popup {
    box-shadow: 0 3px 11px -4px rgba(0, 0, 0, 0.75);
}

.a {
    border: 1px solid black;
}

.b {
    border: 1px solid pink;
}

.c {
    border: 1px solid gray;
}

.green-fond {
    background-color: #448f77;
}

.white-fond {
    background-color: white;
}

.gray-fond {
    background-color: #d4d4d4;
}

.green {
    color: #448f77;
}

.white {
    color: white;
}

.radius {
    border-radius: 0;
    border-style: none;
}

.bor {
    border-radius: 0;
    border: 1px solid #2c4f85;
}

.font-logo1 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    font-size: .7em;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.font-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7em;
    color: #4b4b4b;
}

.crete {
    font-family: 'Crete Round', serif;
}

.font {
    font-family: 'Crete Round', serif;
    font-weight: normal;
    font-size: 1.3em;
    color: #2c4f85;
}

.blue {
    background-color: #2c4f85;
}

.clock {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 10em;
    color: #2c4f85;
}

#login-popup {
    width: 40%;
    position: absolute;
    top: 25%;
    right: 33.3%;
    z-index: 100;
    /*background-color: rgba(0, 0, 0, 1);*/
    /*-webkit-transition: 0.3s;*/
    /*overflow: auto;*/
    /*transition: all 0.2s linear;*/
}

#add-employee-popup, #edit-employee-popup{
    width: 70%;
    position: absolute;
    /*top: 40%;*/
    /*right: 15%;*/
    z-index: 100;
    /*background-color: rgba(0, 0, 0, 1);*/
    /*-webkit-transition: 0.3s;*/
    /*overflow: auto;*/
    /*transition: all 0.2s linear;*/
}